# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## OBJECTIVES

List popular languages for Data Science

In [36]:
print("Python", "julia", "Scala","R")

Python julia Scala R

Some of the popular languages that Data Scientists use are:

In [14]:
print("1.Python")

1.Python

In [16]:
print("2. R")

2. R

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
print("3. Scala")

3. Scala

#### "Apache Spark"
#### "numPy"
#### "panda"
#### "Scikit"
#### "tensorFlow"
#### "Seaborn"

|Data Science Tools|
|RStudio|
|Anaconda|
|GitHub|

|Data Science Tools|
|---|
|RStudio|
|Anaconda|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [34]:
print(3*4+5)

17

This will convert 200 minutes to hours by diving by 60

In [35]:
print(200/60)

3.3333333333333335

## Author

### Zlatko Dzigal